body{
    background-color: black;
    color: antiquewhite;
    margin: 0;
}

.content{
    text-align: center;
    width: 100%;
    margin: auto;
    font-family: 'Gayathri', sans-serif;
    display: flex;
    flex-direction: row;
}

.toc{
    width: 12%;
    padding: 30px;
    overflow-y: scroll;
    max-height: calc(100vh - 76px);
    overflow-wrap: break-word;
}

.title{
    font-size: 24px;
}

.toc a{
    color:antiquewhite;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.toc a:hover{
    color:rgb(191, 189, 188);
}

.toc a h1{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}


.doc{
    width: 88%;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    max-height: calc(100vh - 76px);
    overflow-y: scroll;
    text-align: left;
    line-height: 1.5;
}

.doc p{
    text-indent: 2em;
    margin: 40px;
}

.doc p a{
    color:rgb(189, 189, 189);
    text-decoration: none;
}

.doc p a:hover{
    color:rgb(238, 232, 157);
}

.doc h1{
    padding-top: 5px;
    padding-top: 20px;
}

.doc h2{
    font-size: 18px;
    padding-top: 15px;
}

.fig {
    text-align: center;
    margin-bottom: 20px;
}

.figimgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fig img {
    display: inline-block;
    max-width: calc(100% / 3 - 40px);
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.fig img:first-of-type:last-of-type {
    max-width: 100%;
}
  
.fig img:first-of-type:nth-last-of-type(2),
.fig img:first-of-type:nth-last-of-type(2) ~ img {
  max-width: calc(40% - 20px);
}

.figtxt {
    font-style: italic;
}

.hr{
    margin: 0;
    border: none;
    border-top: 2px dashed white;
    height: 0;
}

.vr{
    min-height: 100vh;
    width:0;
    margin: 0;
    border-left: 2px dashed white;
}

@media screen and (max-width: 700px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    .row{
        display: block;
    }
    .btnfloat{
        width: 30%;
    }
}

html {
    scroll-behavior: smooth;
}

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
    width: 4px;
  }
  
::-webkit-scrollbar-track {
background-color: black;
}

::-webkit-scrollbar-thumb {
background-color: antiquewhite;
border-radius: 4px;
}

/* For Firefox */
::-moz-scrollbar {
width: 4px;
}

::-moz-scrollbar-track {
background-color: black;
}

::-moz-scrollbar-thumb {
background-color: antiquewhite;
border-radius: 4px;
}

body::-webkit-scrollbar {
    display: none;
}